application.log
build
out
.idea
.gradle
.kotlin
.lwjgl
video/
screenshots/
gui-parameters/
ffmpegOutput.txt
ShaderError.glsl

# native libs extracted into the project dir at runtime
libEGL.dylib
libGLESv2.dylib
libMoltenVK.dylib
.DS_Store

